<h1>Available Books:</h1>

<div class="books-container">
    <a href="/"> Add new book </a>
    {{#each books}}

    <div>
        #{{this.id}} - <span class="bold"> <a href="/books/{{this.id}}"> Title: {{this.title }}</a> </span>  
        -  Author: {{this.author}}  -  Pages: {{this.pageqty}} 
    </div>

    {{/each}}
</div>